*
{
    margin:0;
    padding:0;
}

body{
    background: linear-gradient(49deg,#fa3000 20%, #00e9ff 50%, #a843ea 70%);
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

a:hover{
    text-decoration: solid;
    color: red;
}

h2 a{
    margin-left: 450px;
    text-decoration: underline;   
}

table{
    border: 2px solid white;
    border-collapse: collapse;
    padding:10px 20px;
    width: 500px;
    margin: auto;  
}

td {
    border: 3px solid yellow;
    padding: 15px;
}

.n1{background-color: rgb(32, 135, 133);}

.n2{background-color: rgb(173, 27, 27);}

.n3{background-color: rgb(0, 255, 255);}

.n4{background-color: rgb(9, 9, 243);}

.n5{background-color: #13e351;}

.n6{background-color: rgb(209, 59, 136);}

.n7{background-color: rgb(236, 159, 44);}

.n8{background-color: rgb(45, 12, 236);}

.n9{background-color: rgb(243, 4, 247);}

